<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anapp3d">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--所有文件访问权限-->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <!--android:requestLegacyExternalStorage="true": 防止安卓10即使动态申请了权限，
        也报错open failed: EACCES (Permission denied)
        原因就是Android10弃用了管理分区外部储存-->
    <application
        android:name=".M3DApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnApp3D"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>